.panel-twocol_35_65_stacked { 
  padding: 1em 1em 0;
}
.panel-twocol_35_65_stacked > .panel-panel-wrapper,
.panel-twocol_35_65_stacked > .panel-panel { 
  width: 100%; 
  margin-bottom: 1em;
}
.panel-twocol_35_65_stacked > .panel-panel-wrapper > .panel-panel { 
  float: left;
  margin: 0 1em 0 0;
  width: 33%;
}
.panel-twocol_35_65_stacked > .panel-panel-wrapper > .panel-col-last { 
  margin: 0;
}
.panel-twocol_35_65_stacked > .panel-separator {
  margin: 0 0 1em 0;
}
.panel-twocol_35_65_stacked > .panel-panel-wrapper > .panel-panel.panel-col-last {
  width: 63%;
}
